<section class="block block--showcase">
  <div class="block__inner">
  {{ dump(fields) }}
    {% if fields.slides %}
    {% include '@components/sliders/carousel.twig' with { 'slides' : fields.slides } %}
    {% endif %}
  </div>
</section>