  
  <!--DO NOT REMOVE-->
  {{ patternLabFoot | raw }}

  <!-- Add all our Javascripts (Individual files instead of a monolithic .js file) -->
  
  <!-- Begin Vendor Javascript Files -->
  <script src="../../js/vendors/splide.min.js"></script>
  <!-- End Vendor Javascript Files -->

  <!-- Begin Componentized Javascript Files -->
  <script src="../../js/blocks/showcase.min.js"></script>
  <!-- End Componentized Javascript Files -->
  
  </body>
</html>
